.root {
  display: grid;
  grid-template-columns: 1fr 5fr;
  background-color: WhiteSmoke;
  min-height: 100vh;
}

.sidebar {
  padding: 1rem;
  border: 1px teal solid;
}

.sidebar__item {
  padding: 0.2rem;
}

.main {
  padding: 1rem;
}
